In [3]:
import numpy as np
import pandas as pd

In [19]:
sr = 10   # down sampling rate from MIDI to time axis

In [13]:
df=pd.read_csv("outputs/bac-inv001-o-p1.csv")
display(df)

      id      type  note note_name  time_counter   time  velocity
0      1   note_on    60         C             0   6936        44
1      2  note_off    60         C          6936   4839        54
2      3   note_on    62         D         11775    459        55
3      4   note_on    64         E         12234   5050        61
4      5  note_off    62         D         17284    441        60
..   ...       ...   ...       ...           ...    ...       ...
939  940  note_off    43         G       1712852    154        26
940  941  note_off    36         C       1763540  27072        61
941  942  note_off    72         C       1790612    499        58
942  943  note_off    64         E       1791111    577        57
943  944  note_off    67         G       1791688    268        62

[944 rows x 7 columns]

In [22]:
on=df[df['type']=='note_on']#['time_counter']
on[:20]

    id     type  note note_name  time_counter  time  velocity
0    1  note_on    60         C             0  6936        44
2    3  note_on    62         D         11775   459        55
3    4  note_on    64         E         12234  5050        61
6    7  note_on    65         F         21681   712        60
8    9  note_on    62         D         27307   115        59
10  11  note_on    64         E         30898    74        58
12  13  note_on    60         C         35694   250        59
13  14  note_on    67         G         35944  5434        58
16  17  note_on    48         C         45794   614        46
17  18  note_on    72         C         46408  4954        68
18  19  note_on    50         D         51362   135        45
21  22  note_on    52         E         56046   212        52
23  24  note_on    71         B         60577   136        57
25  26  note_on    53         F         61346   230        53
27  28  note_on    69         A         61768   288        62
28  29  note_on    71         B         62883   248        71
29  30  note_on    69         A         63650    97         0
30  31  note_on    50         D         66357   365        50
34  35  note_on    52         E         71695   210        45
35  36  note_on    72         C         71905    97        69

In [17]:
on.diff()

0          NaN
2      11775.0
3        459.0
6       9447.0
8       5626.0
        ...
932     3359.0
935    17645.0
936       19.0
937      230.0
938      135.0
Name: time_counter, Length: 482, dtype: float64

In [18]:
help(on.diff)

Help on method diff in module pandas.core.series:

diff(periods: 'int' = 1) -> 'Series' method of pandas.core.series.Series instance
    First discrete difference of element.

    Calculates the difference of a Series element compared with another
    element in the Series (default is element in previous row).

    Parameters
    ----------
    periods : int, default 1
        Periods to shift for calculating difference, accepts negative
        values.

    Returns
    -------
    Series
        First differences of the Series.

    See Also
    --------
    Series.pct_change: Percent change over given number of periods.
    Series.shift: Shift index by desired number of periods with an
        optional time freq.
    DataFrame.diff: First discrete difference of object.

    Notes
    -----
    For boolean dtypes, this uses :meth:`operator.xor` rather than
    :meth:`operator.sub`.
    The result is calculated according to current dtype in Series,
    however dtype of the result is always float64.

    Examples
    --------

    Difference with previous row

    >>> s = pd.Series([1, 1, 2, 3, 5, 8])
    >>> s.diff()
    0    NaN
    1    0.0
    2    1.0
    3    1.0
    4    2.0
    5    3.0
    dtype: float64

    Difference with 3rd previous row

    >>> s.diff(periods=3)
    0    NaN
    1    NaN
    2    NaN
    3    2.0
    4    4.0
    5    6.0
    dtype: float64

    Difference with following row

    >>> s.diff(periods=-1)
    0    0.0
    1   -1.0
    2   -1.0
    3   -2.0
    4   -3.0
    5    NaN
    dtype: float64

    Overflow in input dtype

    >>> s = pd.Series([1, 0], dtype=np.uint8)
    >>> s.diff()
    0      NaN
    1    255.0
    dtype: float64